@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 500;
    /* margin-left: 25px;*/
    color: black;
}

/*headings and logo*/

h1,
h2,
    {
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black
}

#logo {
    float: left;
    font-size: 350%;
}

/*navigation links*/

#menu {
    display: flex;
    justify-content: flex-end;
    font-size: 130%;
    letter-spacing: 2px;
}

#menu,
#logo {
    display: flex;
    line-height: 75px;
    align-self: center;
}


#menu li {

    list-style-type: none;
    margin-right: 20px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #6b6767;

}

.active {
    border-bottom: 2px solid #6b6767;

}

/*Hero Image*/



#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image-1920.jpg') no-repeat center center;
    margin: 0;
}

.cover-text {
    animation-name: animate-cover-text;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
}

@keyframes animate-cover-text {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.cover-text {
    color: #fff;
    font-family: Barlow, sans-serif;
    align-items: center;
    display: flex;
    font-size: 400%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    transform-style: preserve-3d;

}








/*.cover-text {
display: flex;
flex-wrap: wrap;
align-content: space-around;*/