@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
}

/*headings and logo*/

h1,
h2 {
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;

}

#logo {
    float: left;
    font-size: 350%;
    font-family: Lato, sans-serif;
    font-weight: 500;
    margin-top: 5px;
}

/*navigation links*/

#menu {
    display: flex;
    justify-content: flex-end;
    font-size: 130%;
    letter-spacing: 2px;
}

#menu,
#logo {
    display: flex;
    line-height: 75px;
    align-self: center;
    text-transform: uppercase;
    margin-left: 2rem;

}


#menu li {

    list-style-type: none;
    margin-right: 2rem;

}

#menu a {
    text-decoration: none;
    color: inherit;
    text-transform: lowercase;
}

#menu a:hover {
    border-bottom: 1px solid #D08E4F;

}

.active {
    border-bottom: 1px solid #853719;

}

/*Hero Image*/



#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image-new.jpg') no-repeat center center;
    background-size: cover;
    margin: 0;
}

.cover-text-box {
    display: flex;
    height: 600px;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-content: center;


}

.cover-text-box h2 {

    width: 440px;
    height: 100px;
    margin: 300px 0 0;
    padding: 5px;
    background-color: #DBE7F6;
    opacity: 0.6;
    border-radius: 5px;

}


.cover-text-box {
    animation-name: cover-element-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
}

@keyframes cover-element-pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}


.cover-text-box {
    color: #DBE7F6;
    font-family: Barlow, sans-serif;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    transform-style: preserve-3d;

}

/* practices grid */

#tagline {

    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: #3A4323;
    /*text-transform: uppercase;*/
    font-family: Barlow, sans-serif;
    font-size: 280%;
    letter-spacing: 2px;



}


#practices-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 30px;

}


.card-one {
    font-size: 125%;
    padding: 1rem;
    background-color: #D08E4F;
    color: #DBE7F6;
    border-radius: 5px;
    margin-left: 2rem;

}

.card-two {
    font-size: 125%;
    padding: 1rem;
    background-color: #853719;
    color: #DBE7F6;
    border-radius: 5px;
}

.card-three {
    font-size: 125%;
    padding: 1rem;
    background-color: #D08E4F;
    color: #DBE7F6;
    border-radius: 5px;
}

.card-four {
    font-size: 125%;
    padding: 1rem;
    background-color: #853719;
    color: #DBE7F6;
    border-radius: 8px;
}

#practices-grid h2 {
    margin-bottom: 0.20em;
    white-space: nowrap;
    font-size: 125%;
    color: #DBE7F6;

}

#practices-grid hr {
    border-bottom: 2px solid #DBE7F6;
}

/* why soup grid */


#why-soup-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 30px;

}


.card-five {
    font-size: 125%;
    padding: 1rem;
    background-color: #853719;
    color: #DBE7F6;
    border-radius: 5px;
    margin-left: 2rem;

}

.card-six {
    font-size: 125%;
    padding: 1rem;
    background-color: #D08E4F;
    color: #DBE7F6;
    border-radius: 5px;
}

.card-seven {
    font-size: 125%;
    padding: 1rem;
    background-color: #853719;
    color: #DBE7F6;
    border-radius: 5px;
}

.card-eight {
    font-size: 125%;
    padding: 1rem;
    background-color: #D08E4F;
    color: #DBE7F6;
    border-radius: 8px;
}

#why-soup-grid h2 {
    margin-bottom: 0.20em;
    white-space: nowrap;
    font-size: 125%;
    color: #DBE7F6;

}

#why-soup-grid hr {
    border-bottom: 2px solid #DBE7F6;
}


/* footer section */


.footer-section {
    display: grid;
    margin-top: 75px;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25%;
    background-color:#3A4323;
    opacity: 0.9;
    color: white;
    border-radius: 5px;



}

.footer-section h3 {
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-size: 125%;
    letter-spacing: 4px;
    white-space: nowrap;


}


.footer-section a,
li {
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 4px;
    white-space: nowrap;


}

.footer-section-left {
    margin-left: 2rem;
}

.social-media {
    display: grid;
    grid: 1fr / repeat(4, 1fr);
    font-size: 150%;
}


/*menu*/

/*.basic-grid {
    display: grid;
    gap: 1rem;

    /* 1 too skinny, too much code */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  
    /* 2 cleaner code */
    /* grid-template-columns: repeat(12, 1fr); */
  
    /* 3  better sizing, but overflows */
    /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */
  
    /* 4 final */
    /*grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 }

.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.menu-card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }*/*/

 
  .photos {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .card-images {
    width: 100%;
  }